div {
    background-color: #F7F9FB;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 5px;
    padding: 5px; 
}

.container {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    height: 96vh;
    grid-template-columns: 2fr 8fr;
}

.main {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 1em;
}

body {
    background-color: rgb(212, 208, 208);
}

nav ul {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
}

/* .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   } */
   
   .list li {
    /* display: inline-block; */
    list-style-type: none;
   }