@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}

.ul {
   
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.container{
    background-color: #F7F9FB;
    display: grid;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 
    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
}

.navbar{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 13;
}

.hr{
    outline-color: rgb(204, 204, 204);
}

.sidebar{
    grid-row-start: 1;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 40px;
}

.section{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 13;
    background-image: url(images/bgimage.png);
    background-repeat: no-repeat;
    padding: 25px;
}

.footer{
    grid-row-start: 7;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 13;
}

.sidebar-item{
    margin: 0;
    padding: 0;
}


.sidebar-icon{
    width: 25px;
    height: auto;
    align-items: center;
}

.sidebar-item{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: baseline;
}


